<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/swapi.js" defer></script>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Title -->
            <div id="page-title">
                <h2>Star Wars universe planets</h2>
            </div>
            <!-- Table -->
                <table id="swapiPlanetsTable" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            {% for header in table_headers %}
                            <th class="planetsHeader">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="planetsTable"></tbody>
                </table>
        </div>
    </body>
</html>
