<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Bootstrap Javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- OwnJavaScript -->
    <script src="/static/main.js" defer></script>
    </head>
    <body>
                <!-- Modal for residents -->
        <div class="modal fade" id="residentsModal" tabindex="-1" role="dialog" aria-labelledby="residentsModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalLabel"><!-- Modal title comes here --></h4>
                    </div>
                    <div class="modal-body">
                        <!-- Residents table -->
                        <table class="table table-hover table-responsive residents-table">
                            <thead>
                            <tr>
                            <th> Name </th>
                            <th> Height </th>
                            <th> Mass </th>
                            <th> Hair color </th>
                            <th> Skin color </th>
                            <th> Eye color </th>
                            <th> Birth year </th>
                            <th> Gender </th>
                            </tr>
                            </thead>
                            <tbody id="residentsTable"></tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modal-close" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Title -->
            <div id="page-title">
                <h2>Star Wars universe planets</h2>
            </div>
            <!-- Table -->
                <table id="swapiPlanetsTable" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            {% for header in table_headers %}
                            <th class="planetsHeader">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="planetsTable">
                        <!-- Planets come here -->
                    </tbody>
                </table>
        </div>
    </body>
</html>
